
    <%include component/head.ejs %>
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">价格管理</a>
                </li>
                <li class="active">套餐管理</li>
            </ul>
        </div>

        <div class="page-content">
            <div class="page-content-area">
                <div class="row">
                        <div class="col-xs-12">
                            <div class="hr hr-24"></div>
                            <form class="form-horizontal" role="form" action="/price/add" method="POST">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">套餐编号</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="form-field-1" placeholder="套餐编号" class="col-xs-10 col-sm-5" name="packNum" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1">套餐名称</label>

                                    <div class="col-sm-9">
                                        <input type="text" id="form-field-1-1" placeholder="套餐名称" class="col-xs-10 col-sm-5" name="packName"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-2">套餐描述</label>

                                    <div class="col-sm-9">
                                        <input type="text" id="form-field-1-2" placeholder="套餐描述" class="col-xs-10 col-sm-5" name="packDesc"/>
                                    </div>
                                </div>

                                <div class="space-4"></div>

                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <div class="btn"
                                        id="form-submit">
                                            添加
                                        </div>
                                    </div>
                                </div>


                            </form>



                        </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery.js" ></script>
    <script type="text/javascript">
     $(function(){
      $("#form-submit").click(function(){
        var value1=$("#form-field-1").val();
        var value2=$("#form-field-1-1").val();
        var value3=$("#form-field-1-2").val();
        if(value1==''){
            alert("套餐编号不能为空");
        }else if(value2==''){
            alert("套餐名称不能为空");
        }else if(value3==''){
            alert("套餐描述不能为空");
        }else{
            $(".form-horizontal").submit();
        };
        
      });     

     });
    </script>
    <%include component/footer.ejs %>