
    <%include component/head.ejs %>


    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <!-- #section:basics/content.breadcrumbs -->
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">设备</a>
                </li>
                <li class="active">规格价格</li>
            </ul><!-- /.breadcrumb -->

        </div>

        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">

            <!-- /section:settings.box -->
            <div class="page-content-area">
<!--                <div class="page-header">

                </div>&lt;!&ndash; /.page-header &ndash;&gt;-->

                <div class="row">
                        <div class="col-xs-12">
                            <div class="hr hr-24"></div>
                            <form class="form-horizontal" role="form" action="/device/price/add" method="POST">
                                <input type="hidden" name="deviceSn" value="<%= data.deviceSn%>"/>
                                <input type="hidden" name="id" value="<%= data.id%>"/>
                                <!-- #section:elements.form -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">设备编号</label>

                                    <div class="col-sm-9">
                                        <input disabled type="text" id="form-field-1" placeholder="设备编号" class="col-xs-10 col-sm-5" value="<%= data.deviceSn%>"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">设备名称</label>

                                    <div class="col-sm-9">
                                        <input disabled type="text" id="form-field-1" placeholder="设备名称" class="col-xs-10 col-sm-5" value="<%= data.deviceName%>"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">价格</label>

                                    <div class="col-sm-9">
                                        <input type="text" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" id="form-field-2" placeholder="价格" class="col-xs-10 col-sm-5" name="price"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-3">按摩模式</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="form-field-3" placeholder="按摩模式 请参考设备信息详情" class="col-xs-10 col-sm-5" name="func"/>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-3">功能命令</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="form-field-3" placeholder="功能命令(1-6) 请参考设备信息详情" class="col-xs-10 col-sm-5" name="functionCmd"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-4">按摩时间</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="form-field-4" placeholder="按摩时间" class="col-xs-10 col-sm-5" name="workTime"/>
                                    </div>
                                </div>

                                <!-- /section:elements.form -->
                                <div class="space-4"></div>

                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button class="btn btn-info" type="SUBMIT">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            提交
                                        </button>

                                        &nbsp; &nbsp; &nbsp;
                                        <!--<button class="btn" type="reset">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            重置
                                        </button>-->
                                    </div>
                                </div>


                            </form>



                        </div><!-- /.span -->
                </div><!-- /.row -->
            </div><!-- /.page-content-area -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->



    <%include component/footer.ejs %>

    <script type="text/javascript">

    </script>